#introDiv{
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #581845;
    padding-top: 2px;
    padding-bottom: 10px;
    text-align: center;
    color:white;
}

#siteHeaderTable td{
    padding-left: 8px;
    padding-right: 8px;
}

#siteNameText{
    font-size: 42px;
    /*font-weight: bold;*/
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#aboutText{
    font-size: 32px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

#siteLogo{
    width: 90px;
}

/* applies when screen is wide enough */ 
@media (min-width: 600px) {
    #siteLogo {
      width: 115px;
    }

    #siteNameText{
        font-size: 50px;
    }
}

#toolDiv{
    width:100vw;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#notesDiv{
    width:100vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #581845;
}

#textBox {
    min-width: 350px;
    max-width: 75vw;
}

li {
    margin-bottom: 6px;

    /*
    margin-bottom: 10px;
    padding-bottom: 5px;
    line-height: 1.5;
    */
}

#linksDiv{
    background-color: #faebf6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonTableDiv{
    margin-top: 2px;
    margin-bottom: 10px;
}

#inputTable{
    font-size:0.90em;
    text-align: center;
    min-width: 280px;
    width:100vw;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
}

/* applies when screen is wide enough */ 
@media (min-width: 600px) {
    #inputTable {
        font-size:1em;
    }
}

#imageTable {
    border-collapse: collapse;
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100vw;
}
  
.imageTableCell {
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
}

.imageHeaderText {
    font-size: 0.85em;
    padding: 0px 0 5px 0;
    margin: 0;
    text-align: left;
    border: none;
    min-width: 100px;
    text-align: center;
}

body, input, button {
    font-family: "Helvetica";
    font-style: normal;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin:auto;
    max-width:95%;
}

th {
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    vertical-align:middle;
	border-collapse: collapse;
	background-color: #e9e9e9;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(194, 194, 194);
    font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(194, 194, 194);
    font-weight: normal;
}

input.input-number-noSpinners {
    -moz-appearance: textfield;
    border:1px solid rgb(180, 180, 180);
    padding: 6px;
    text-align: center;
    max-width: 25vw;
}

input.input-number-noSpinners::-webkit-inner-spin-button,
input.input-number-noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border:1px solid rgb(180, 180, 180);
    padding: 4px 0 4px 0;
}

input:hover{
    background-color: rgb(246, 252, 255);
    border:1px solid rgb(146, 146, 146);
}

.select-style {
    border-bottom: 2px solid rgb(0, 183, 255);
    border-left:none;
    border-top:none;
    border-right:none;
    border-radius:0;
    overflow: hidden;
    font-weight:bold;
    padding:1px;
    /*
    //-moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    */
    text-align:center;
    font-family: Helvetica, sans-serif;
    font-size:0.95em;
    outline: none;
}

#paletteChoice{
    border-bottom: 2px solid rgb(212, 0, 255) !important;
}

.select-style select:focus {
    outline: none;
}

.hidden {
    display: none;
}

.inputCol8{
    max-width:150px;
}


.lockOn {
    display: block;
    visibility: visible;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.25);
    padding-top: 0%;
    opacity: 0.9; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url(https://github.com/imageMageAge/imageMageAge.github.io/blob/main/images/loadingCircle.gif?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Styling for image upload field */
input, select {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #226f63;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: Helvetica;
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 2px;
}

/* Styling for color inputs */
input[type="color"] {
    width: 40px;
    height: 40px;
    border: none;
    background-color: none;
    padding:0;
    margin: 5px;

}

button {
    padding: 6px;
    font-weight: bold;
    font-size: 13px;

    margin-left: 3px;
    margin-right: 3px;

    border: 3px solid #79e2d2;
    border-radius: 6px;
    background-color: #ffffff;

    cursor: pointer;
}

/* applies when screen is wide enough */ 
@media (min-width: 600px) {
    button {
      font-size: 14px;
    }
}

/* Styling for table with github and social links */

#infoMenuTable td {
    text-align:center;
    border: 0;
    padding: 20px;
}

#infoMenuTable{
    table-layout: fixed;
    margin: 0px;
}

.socialMediaButton{
    color:rgb(55, 60, 133);
    font-size: 26px;
    margin: 0;
    padding: 4px;
    border: none;
    max-width: 50px;
    max-height: 50px;
    background-color: transparent;
}

#buyMeACoffeeButton {
    font-size: 10px;
}

/* Carousel formatting */
.carousel {
    position: relative;
  }
  
  .carousel-inner {
    overflow: hidden;
  }
  
  .carousel-item {
    display: none;
    /*max-height: 65vh;
    max-width: 96vw;*/
    position: relative;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a3ede2;
    cursor: pointer;
    margin: 0 5px;
    border: none;
  }
  
  .carousel-dot.active {
    background-color: #179d89;
    border: 2px solid #6fc5f3;
  }

  .carouselImage {
    max-height: 75vh;
    max-width: 96vw;
  }

/* Pop-up styling */
.popup {
    background-color: #fff;
    padding: 5px;
    border: 3px solid #601785;
    display: none; /* hide by default */
    visibility: visible;
    position: fixed;
    z-index: 999;
    max-width: 200px;
    max-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#closeIcon{
    font-size:30px;
    cursor: pointer;
}